/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
}

a {
  color: var(--black-clr);
  text-decoration: none;
}

:root {
  /* Font-size */
  --font-title: 2.4rem;
  --font-subtitle: 2rem;
  --font-body: 1.6rem;
  --font-small: 1.4rem;
  --font-smaller: 1.2rem;
  /* Color */
  --primary-btn-clr: #dd1c21;
  --platinum-clr: #e5e5e5;
  --black-clr: #000;
  --white-clr: #fff;
}

body {
  color: var(--black-clr);
  font-size: var(--font-body);
}

h1 {
  font-size: 2.8rem;
  font-weight: 800;
}

h2 {
  font-size: var(--font-title);
  font-weight: 700;
}

.btn-submit {
  outline: none;
  border: 1px solid var(--black-clr);
  background: var(--black-clr);
  padding: 1.2rem;
  color: var(--white-clr);
  cursor: pointer;
  text-transform: uppercase;
  transition: all ease 0.3s;
  letter-spacing: 0.5rem;
}

.btn-submit:hover {
  opacity: 0.7;
}

.header {
  background-color: var(--white-clr);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__navbar {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in 0.3s;
}

.header__navbar-logo {
  height: auto;
  width: 15rem;
}

.header__navbar-logo-img {
  transition: all ease-in 0.3s;
}

.header__navbar-menu,
.header__navbar-mobile {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  text-transform: uppercase;
}

.header__navbar-menu-link,
.navbar__mobile-item-link {
  font-weight: 600;
  position: relative;
}

.header__navbar-menu-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--black-clr);
  transition: all ease 0.3s;
}

.header__navbar-menu-link:hover::after {
  width: 100%;
}

.hamburger {
  cursor: pointer;
}

.cart-icon.has-cart::before {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  content: attr(data-item-count);
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: var(--primary-btn-clr);
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.navbar__mobile {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  right: -100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: all ease-in 0.3s;
}

.navbar__mobile.active {
  right: 0; /* Slide in from the right when the 'open' class is present */
}

.ov-hidden {
  overflow-y: hidden;
}

.navbar__mobile-close-btn {
  height: 33px;
  font-size: 3rem;
  position: absolute;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
  transition: all ease 0.3s;
}

.navbar__mobile-close-btn:hover {
  transform: rotate(180deg);
}

.navbar__mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.navbar__mobile-item-link {
  font-size: var(--font-title);
}

.navbar__mobile-item-link span:first-child {
  position: absolute;
  transform: translate(-1.75rem, -2.5px);
  transition: all ease 0.3s;
  opacity: 0;
}

.navbar__mobile-item-link span:last-child {
  position: absolute;
  transform: translate(1rem, -2.5px);
  transition: all ease 0.3s;
  opacity: 0;
}

.navbar__mobile-item-link:hover span:first-child {
  transform: translate(-1rem, -2.5px);
  opacity: 1;
}

.navbar__mobile-item-link:hover span:last-child {
  transform: translate(0.25rem, -2.5px);
  opacity: 1;
}

.news {
  margin-top: 10rem;
  padding: 10rem 0;
  text-align: center;
  background-color: #131313;
}

.news h2 {
  padding-bottom: 2rem;
  color: var(--white-clr);
}

.news input {
  outline: none;
  border: 1px solid var(--white-clr);
  padding: 1rem;
  border-radius: 4px;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.raise {
  --color: var(--white-clr);
  --hover: #ff5555;
}

.news button {
  cursor: pointer;
  background: none;
  border: 2px solid;
  font: inherit;
  padding: 1rem 3rem;
  color: var(--color);
  transition: all ease 0.25s;
  border-radius: 4px;
}

.news button:hover,
.news button:focus {
  border-color: var(--hover);
  color: var(--hover);
}

.footer {
  padding: 7.5rem 1.3rem 4.2rem;
  background-color: var(--black-clr);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
}

.footer__text p {
  font-weight: 600;
}

.footer__social {
  margin-top: 1.6rem;
  display: flex;
  gap: 4rem;
}

.footer__social-link .Icon {
  height: 27px;
  fill: #939393;
  transition: all ease 0.3s;
}

.footer__link-title {
  color: var(--white-clr);
  font-size: var(--font-subtitle);
  padding-bottom: 2rem;
}

.footer__link-item {
  padding: 1rem 0;
}

.footer__link-item a {
  color: #bdbdbd;
  transition: all ease 0.3s;
}

.footer__link-item a:hover {
  color: var(--white-clr);
  text-decoration: underline;
}

.footer__aside {
  padding-top: 2rem;
}

.footer__aside-copyright p {
  color: var(--white-clr);
  line-height: 2;
}

.Icon--facebook:hover {
  fill: #0866ff;
}

.Icon--x:hover {
  fill: var(--white-clr);
}

.Icon--instagram:hover {
  fill: #e1306c;
}

.Icon--youtube:hover {
  fill: #ff0000;
}

.Icon--tiktok:hover {
  fill: #5af9f4;
}

.scrolltop-btn {
  position: fixed;
  right: 2rem;
  bottom: -8rem;
  z-index: 99;
  transition: bottom 0.3s, transform 0.3s;
  background-color: var(--black-clr);
  padding: 1rem 0.5rem;
  border-radius: 100rem;
}

.scrolltop-btn svg {
  fill: var(--white-clr);
}

.scrolltop-btn:hover {
  transform: translateY(-1rem);
}

.show-angles-up {
  bottom: 2rem;
  font-size: 2.8rem;
}

body::-webkit-scrollbar {
  width: 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--body-color);
}

body::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 0.5rem;
  transition: all ease 0.3s;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}

.product__item-btn-overlay {
  height: 80px;
  position: absolute;
  left: 2px;
  right: 2px;
  top: calc(100% - 82px);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform: rotateX(90deg);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1.5);
  opacity: 0;
  margin: auto;
  border-top: 2px solid rgba(0, 0, 0, 0.205);
  display: grid;
  place-items: center;
}

.product__item-btn {
  outline: none;
  border: 2px solid var(--primary-btn-clr);
  background-color: var(--primary-btn-clr);
  color: var(--white-clr);
  font-weight: 700;
  transition: all ease 0.2s;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.7rem;
  padding: 1rem;
}

.product__item-btn:hover {
  border: 2px solid var(--primary-btn-clr);
  background-color: var(--white-clr);
  color: var(--primary-btn-clr);
}

.product-outline-btn {
  outline: none;
  background-color: var(--white-clr);
  border: 2px solid var(--black-clr);
  color: var(--black-clr);
  font-weight: 700;
  transition: all ease 0.2s;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.7rem;
}

.product-outline-btn:hover {
  border: 2px solid var(--white-clr);
  background-color: var(--black-clr);
  color: var(--white-clr);
}

/* PC: width >= 1024px */
@media screen and (min-width: 63.9375em) {
  .hide-on-pc {
    display: none;
  }
}

/* Mobile and Tablet: width < 1024px */
@media screen and (max-width: 63.9375em) {
  .news-text {
    max-width: 400px;
    margin: auto;
    padding: 0 1.3rem;
  }

  .news form {
    display: grid;
    gap: 2rem;
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .hide-on-tablet {
    display: none;
  }
}

/* Mobile: width < 740px */
@media screen and (max-width: 46.1875em) {
  .hide-on-mobile {
    display: none;
  }

  .header__navbar {
    padding: 0 1.3rem;
  }

  .footer__inner {
    flex-direction: column;
  }

  .footer__aside-copyright {
    text-align: center;
  }
}
