.form-wrapper {
  padding-top: 120px;
}

.form-container {
  max-width: 420px;
  margin: auto;
  padding: 4rem 1.3rem;
}

.form-heading {
  text-align: center;
  padding: 2rem 0;
}

.form-heading p {
  padding-top: 2rem;
}

.form__group {
  position: relative;
  margin-bottom: 2rem;
}

.form__group > input {
  height: 50px;
  width: 100%;
  padding: 1.2rem 1.4rem;
  outline: none;
  border: 1px solid #d9d9d9;
  background: transparent;
  transition: all ease 0.3s;
}

.form__group input:focus {
  border: 1px solid var(--black-clr);
}

.form__group > label {
  position: absolute;
  transform: translateY(-50%);
  left: 1rem;
  color: var(--black-clr);
  pointer-events: none;
  padding: 0 0.5rem;
  background-color: var(--white-clr);
  transition: all ease 0.3s;
  opacity: 1;
}

.form__group input:placeholder-shown ~ label {
  transform: translateY(-20%);
  opacity: 0;
}

.form__group svg {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.eye-open {
  display: none;
}

.form__group-option {
  display: flex;
  justify-content: space-between;
}

.form__group a:hover {
  text-decoration: underline;
}

.form__check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.form__group button {
  width: 100%;
}

.link-create {
  color: red;
  font-weight: 700;
}
